  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap; 
  }
  
  Anchor {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
  }
  
  .links {
    display: flex;
    gap: 15px;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .inner {
      flex-direction: column;
      text-align: center;
    }
  
    .links {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  