.wrapper {
  padding: 2rem 1rem; 
}

.title {
  color: var(--mantine-color-pink);
  font-size: 2.5rem; 
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}


/* Media queries */
@media (max-width: 768px) {
  .title {
    font-size: 2rem; 
  }

  .description {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem; 
  }

  .description {
    font-size: 0.9rem; 
  }
}

.supTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-blue-light-color);
  letter-spacing: 0.5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardContent {
  flex-grow: 1;
}

.control {
  margin-top: auto;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
