
.rbc-calendar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white)); /* Dark mode text color */
  border-radius: 8px;
  padding: 20px;
}

.rbc-toolbar {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-4));
  padding: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.rbc-event {
  background-color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-7));
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black)); /* Dynamic text color based on background */
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rbc-event:focus,
.rbc-event:hover {
  background-color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-5));
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black)); /* Adjust text color for better contrast */
}

.rbc-time-slot {
  border-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-4));
  transition: border-color 0.3s;
}

.rbc-date-cell {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: bold;
  transition: color 0.3s;
}

.rbc-timeslot-group {
  border-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-4));
  transition: border-color 0.3s;
}

.rbc-btn-group button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

/* Example for responsive calendar */
@media (max-width: 768px) {
  .rbc-agenda-view {
    font-size: 14px; /* Smaller font for better readability */
  }

  .rbc-agenda-table {
    width: 100%; /* Table spans the full width */
  }

  .rbc-agenda-view .rbc-agenda-header {
    display: flex;
    flex-wrap: wrap; /* Allow headers to stack on small screens */
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .rbc-agenda-view {
    font-size: 12px; /* Further reduce font size */
  }

  .rbc-agenda-view .rbc-agenda-header {
    flex-direction: column; /* Stack headers vertically */
  }

  .rbc-agenda-view .rbc-agenda-content {
    overflow-x: auto; /* Add horizontal scrolling for smaller screens */
  }
}
